antlr4-python3-runtime==4.9.3
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
contourpy==1.3.1
cycler==0.12.1
einops==0.8.1
filelock==3.17.0
fonttools==4.56.0
fsspec==2025.2.0
huggingface-hub==0.28.1
idna==3.10
Jinja2==3.1.5
joblib==1.4.2
jsonpickle==4.0.2
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.0
metricker @ git+https://github.com/malcolmsailor/metricker.git@2a8b4368be748288128e5dde2a59fdd0fff1482d
mido==1.3.3
more-itertools==10.6.0
mpmath==1.3.0
mspell==0.0.4
music21==9.3.0
music_df @ git+https://github.com/malcolmsailor/music_df.git@58c7ce26aa652a13b51ed6b9dee738de413f8077
-e git+https://github.com/malcolmsailor/musicbert_hf.git@f404ef4cedca39a19cb40003f532b37620c02da5#egg=musicbert_hf
networkx==3.4.2
numpy==2.2.3
omegaconf==2.3.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
reprs @ git+https://github.com/malcolmsailor/reprs.git@e2fe231d18b0167c09467ca29e144a4b6b5d3f46
requests==2.32.3
safetensors==0.5.2
setuptools==75.8.0
sh==2.2.1
six==1.17.0
sympy==1.13.1
tokenizers==0.21.0
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
webcolors==24.11.1
